/* Colors */
:root {
    --primary-color: #fff1db;
    --secondary-color: #fcbc5d;
    --heading-on-color: #814f02;
    --regular-text: #473315;
    --special-text-on-color: #2b4899;
}

body {
    max-width: 100%;
    background: var(--primary-color);
    margin: auto 20px;
    font-size: 1rem;
    line-height: 2.5em;
    display: block;
}

header, footer {
    height: 4.5rem;
    background-color: var(--secondary-color);
    border: var(--regular-text);
    border-radius: 10px;
}

header {
    color: var(--heading-on-color);
}

h1 {
    font-family: "Playball", "Brush Script MT", cursive;
    font-size: 3rem;
    text-align: center;
    padding-top: 0.35em;
}

hr {
    color: var(--regular-text);
}

main {
    font-family: "Source Sans Pro", "Geneva", sans-serif;
    margin: 0px 30px 15px 30px;
    color: var(--regular-text);
    min-height: 75vh;
}    

nav a:hover {
    font-size: 1.2em;
}

#self-image {
    width: 200px;
    margin: 10px;
    border: 2px solid var(--heading-on-color);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(87, 86, 84);
}

footer {
    font-family: "Noto Serif", Georgia, serif;
    font-size: .9rem;
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--regular-text)
}

footer p {
    margin: 0 auto;
}

#last-update-date {
    color: var(--special-text-on-color);
}

/* Responsive */
@media (max-width: 650px) {

    header {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    h1 {
        font-size: 2.3rem;
        padding-top: 0rem;
    }

    #self-image {
        margin-top: 25px;
        align-self: center;
    }

    footer {
        font-size: .75rem;
    }
}

@media (max-width: 480px) {
    #self-image {
        width: 150px;
    }

    footer {
        line-height: 1.5em;
    }
}