/* Gallery Page Small View*/

/* Navigation: */
#primary-nav a#gallery-nav-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid var(--second-accent);
    color: var(--primary-color);
}

/* Main: */

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-gap: 1.5rem;
    margin: 1rem 0 1.5rem 0;
}

.image-description {
    display: none;
}

figure {
    margin: 0px;
    border-radius: 5px;
}

.gallery-grid figure img[data-src] {
    filter: blur(0.2em);
  }
  
.gallery-grid figure img {
    filter: blur(0em);
    transition: filter 0.8s;
    max-width: 100%;
}