/* Large View: */
@media (min-width: 60em) { /*960px*/

    /* Main: */
    main {
        max-width: 1500px;
    }
    .preston-section, .soda-springs-section, .fish-haven-section {
        display: block;
        min-height: 20rem;
    }
    .towns-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
} 