/* Medium View: */
@media (min-width: 32.5em) { /* 520px */

    header {
        flex-direction: row;
    }

    picture {
        margin: 5px;
    }

    .headings {
        margin-bottom: 0px;
    }

    #menu-btn {
        display: none;;
    }

    #primary-nav {
		display: flex;
	}

    #primary-nav li {
        display: block;
        flex: 1 1 auto;
        text-align: center;
    }

    #primary-nav a {
        border-top: none;
    }

    #primary-nav a:hover {
        border-left: none;
        border-bottom: 3px solid var(--second-accent);
        color: var(--primary-color);
    }

    #five-day-forecast-box {
        margin-left: 30px;
        margin-right: 30px;
    }
} 