/* Main Preston page*/
#primary-nav a#preston-nav-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid var(--second-accent);
    color: var(--primary-color);
}

.banner-box {
    position: relative;
}

#banner-img{
    display:flex;
    width: 100%;
}

#weather-summary {
    background: radial-gradient(var(--secondary-color), var(--terciary-color));
    color:var(--first-accent);
    padding: 10px;
    line-height: 0.5rem;
}
#weather-summary h2 {
    margin: 15px;
}
#weather-summary hr {
    width: 85%;
}

.titles {
    margin:0;
    padding-left: 15px;
}

#article-img {
    float: right;
}

article p {
    margin:0;
    padding: 1rem;
}

section p {
    margin: 15px;
}

.five-day-forecast-box, article{
    background-color: var(--secondary-color);
    color: var(--first-accent);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.five-day-forecast-box {
    display: flex;
    justify-content: space-evenly;
}