/* Main Preston page*/
#primary-nav a#preston-nav-btn {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 3px solid var(--second-accent);
    color: var(--primary-color);
}

#banner-img{
    width: 100%;
}

.titles {
    margin-left: 10px;
}

#article-img {
    float: right;
}

article p {
    margin: 1rem;
}

section p {
    margin: 15px;
}

.banner-box, .five-day-forecast-box, article{
    background-color: var(--secondary-color);
    color: var(--first-accent);
    border-radius: 4px;
}
.five-day-forecast-box {
    display: flex;
    justify-content: space-evenly;
}