/* Medium View: */
@media (min-width: 32.5em) { /* 520px */

    /* Navigation: */
    #primary-nav a#storm-c-nav-btn {
        border-left: none;
        border-bottom: 3px solid var(--second-accent);
        color: var(--primary-color);
    }
    /* Main: */
    main {
        max-width: 1200px;
    }
    /* Form: */
    form label.sbs {
        padding: .4rem 0;
    }

    form input.submitBtn {
        margin-left: auto;
    }
}